*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

input {
    font-size: 25px;
    width: 20%;
    height: 50%;
    text-align: center;
    padding: 20px;
    border: 3px solid grey;

    
}

button {
    background: grey;
    color: white;
    padding: 30px;
    border-radius: 20%;
    font-size: 25px;
}

button:hover {
    background: white;
    color: grey;
    border:1px solid grey;
}

.output-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 5rem;
    width: 5rem;
    /* border: 1px dashed black; */
    color: black;
    font-size: 30px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.danger {
    color: red;
}

/* .normal {
    color: black;
} */